@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1> Welcome to Club BAIST!</h1>
<h2> Please click on the links above to get started.</h2>

<html>
<body>
    <img src="https://riversedgegolfbend.com/wp-content/uploads/2019/03/Spring-Golfing-in-Oregon-1080x675.jpg">
</body>
</html>
