@page
@model ClubBAISTsystem.Pages.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
}

<h1> Welcome to Club BAIST!</h1>



<html>
<body>
    <img src="https://riversedgegolfbend.com/wp-content/uploads/2019/03/Spring-Golfing-in-Oregon-1080x675.jpg">
</body>
</html>